Repository geolonia/ja-maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix github url
  docs/bin/create-image.ts
  docs/components/api/github.js
  docs/components/page-shell.js
  docs/components/urls.js
Due: eslint, prettier --write

some fix
  docs/pages/api/index.md
  docs/pages/api/map.js
Due: eslint, prettier --write

translate properies and options
  docs/data/api-navigation.js
  docs/documentation.yml
  docs/pages/api/properties.js
Due: eslint, prettier --write

translate marker and control
  docs/data/api-navigation.js
  docs/documentation.yml
  docs/pages/api/markers.js
Due: eslint, prettier --write

translate left side menu
  docs/data/style-spec-navigation.js
  docs/pages/style-spec/expressions.md
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/pages/style-spec/types.md
Due: eslint, prettier --write

fix broken right side menu
  batfish.config.js
  docs/components/page-shell.js
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

replace Javascript to JavaScript
  README.md
  docs/constants.json
  docs/pages/api/events.js
  docs/pages/api/geography.js
  docs/pages/api/handlers.js
  docs/pages/api/index.md
  docs/pages/api/map.js
  docs/pages/api/markers.js
  docs/pages/api/properties.js
  docs/pages/api/sources.js
  docs/pages/plugins/index.md
Due: eslint, prettier --write

fix api and style spec top page
  docs/pages/api/index.md
  docs/pages/style-spec/index.md
Due: none

translate description
  docs/documentation.yml
  docs/pages/api/events.js
  docs/pages/api/geography.js
  docs/pages/api/handlers.js
  docs/pages/api/index.md
  docs/pages/api/map.js
  docs/pages/api/markers.js
  docs/pages/api/properties.js
  docs/pages/api/sources.js
  docs/pages/plugins/index.md
  docs/pages/style-spec/expressions.md
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/pages/style-spec/types.md
Due: eslint, prettier --write

replace maplibre-gl-js to ja-maplibre-gl-js
  docs/components/style-spec/item.js
  docs/data/api-navigation.js
  docs/data/plugins.json
  docs/data/style-spec-navigation.js
  docs/pages/assets/favicon/browserconfig.xml
  docs/pages/assets/favicon/site.webmanifest
  docs/pages/style-spec/expressions.md
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/index.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/util/__tests__/__snapshots__/formatters.test.js.snap
  docs/util/__tests__/formatters.test.js
  docs/util/api-ref-redirect.js
  docs/util/linker.js
  docs/util/style-spec-redirect.js
  package.json
  test/style-spec-redirect.test.js
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

replace favicon, apple-touch icons
  docs/pages/assets/favicon/android-chrome-192x192.png
  docs/pages/assets/favicon/android-chrome-512x512.png
  docs/pages/assets/favicon/apple-touch-icon.png
  docs/pages/assets/favicon/favicon-16x16.png
  docs/pages/assets/favicon/favicon-32x32.png
  docs/pages/assets/favicon/favicon.ico
  docs/pages/assets/favicon/maplibregl-favicon.svg
  docs/pages/assets/favicon/maplibregl-logo-285eaa.svg
  docs/pages/assets/favicon/maplibregl-logo-ffffff.svg
  docs/pages/assets/favicon/mstile-144x144.png
  docs/pages/assets/favicon/mstile-150x150.png
  docs/pages/assets/favicon/mstile-310x150.png
  docs/pages/assets/favicon/mstile-310x310.png
  docs/pages/assets/favicon/mstile-70x70.png
  docs/pages/assets/favicon/safari-pinned-tab.svg
  docs/util/__tests__/api-ref-redirect.test.js
Due: eslint, prettier --write

Deploying to gh-pages from @ geolonia/ja-maplibre-gl-js-docs@b80cc0c544912aabcb751e76d98b278ba106df9d 🚀
  assets/favicon/android-chrome-192x192.png
  assets/favicon/android-chrome-512x512.png
  assets/favicon/apple-touch-icon.png
  assets/favicon/favicon-16x16.png
  assets/favicon/favicon-32x32.png
  assets/favicon/favicon.ico
  assets/favicon/maplibregl-favicon.svg
  assets/favicon/maplibregl-logo-285eaa.svg
  assets/favicon/maplibregl-logo-ffffff.svg
  assets/favicon/mstile-144x144.png
  assets/favicon/mstile-150x150.png
  assets/favicon/mstile-310x150.png
  assets/favicon/mstile-310x310.png
  assets/favicon/mstile-70x70.png
  assets/favicon/safari-pinned-tab.svg
  sitemap.xml
Due: none

fix logo when mobile
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

translate other filter
  docs/pages/style-spec/other.md
Due: none

some fix
  README.md
Due: none

update translation
  README.md
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
