Repository geolonia/ja-maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.html": ["prettier --write"]
}

disable latest-version test
  test/latest-version.test.js
Due: eslint, prettier --write

update site path
  batfish.config.js
Due: eslint, prettier --write

fix footer
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

fix url in footer
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

disable pages
  docs/data/api-navigation.js
  docs/documentation.yml
  docs/pages/api/geography.js
  docs/pages/api/handlers.js
  docs/pages/api/properties.js
  docs/pages/example/index.md
  docs/pages/plugins/index.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/transition.md
  docs/pages/style-spec/types.md
Due: eslint, prettier --write

disable low priority pages
  docs/data/api-navigation.js
  docs/data/style-spec-navigation.js
  docs/documentation.yml
  docs/pages/api/sources.js
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
Due: eslint, prettier --write

remove api-navigation.test.js formatters.test.js
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
  docs/data/__tests__/api-navigation.test.js
  docs/util/__tests__/__snapshots__/formatters.test.js.snap
  docs/util/__tests__/api-ref-redirect.test.js
  docs/util/__tests__/find-page.test.js
  docs/util/__tests__/formatters.test.js
Due: eslint, prettier --write

change logo
  vendor/docs-page-shell/page-shell-styles.css
Due: prettier --write

Deploying to gh-pages from @ geolonia/ja-maplibre-gl-js-docs@9216cbbdb6a4eb9338861efb832ae27f022a35ff 🚀
  api/events/index.html
  api/index.html
  api/map/index.html
  api/markers/index.html
  assets/batfish-styles-988882e5d2197e9741208016ac196250.css.map
  assets/batfish-styles-b09dd31135fd491ba54efa13814041cf.css
  assets/batfish-styles-b09dd31135fd491ba54efa13814041cf.css.map
  examples/index.html
  index.html
  overview/index.html
  style-spec/expressions/index.html
  style-spec/index.html
  style-spec/layers/index.html
Due: prettier --write

change for geolonia
  docs/components/page-shell.js
  docs/constants.json
  docs/pages/api/index.md
  docs/pages/style-spec/index.md
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

some fix
  docs/pages/api/index.md
  docs/pages/style-spec/index.md
  package.json
Due: prettier --write

Update README.md
  README.md
Due: none

fill-color
  src/style-spec/reference/v8.json
Due: prettier --write

import v8.json from ja-maplibre-gl-js
  docs/bin/latest.js
  docs/components/__tests__/expression-metadata.test.js
  docs/components/expressions.js
  docs/data/style-spec-navigation.js
  docs/pages/style-spec/layers.md
  docs/util/combine-items.js
Due: eslint, prettier --write

import v8.json from ja-maplire-gl-js
  docs/bin/latest.js
  docs/components/__tests__/expression-metadata.test.js
  docs/components/expressions.js
  docs/data/style-spec-navigation.js
  docs/pages/style-spec/layers.md
  docs/util/combine-items.js
Due: eslint, prettier --write

use git submodule update --remote --merge
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
  README.md
Due: none

use git submodule update --remote --merge
  .github/workflows/build-test.yml
Due: none

change build api source file
  package.json
Due: prettier --write

test
  package.json
Due: prettier --write

some fix
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  package.json
Due: prettier --write

some fix
  .github/workflows/build-test.yml
Due: none

fix github action
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
Due: none

fix github action
  .github/workflows/build-test-deploy.yml
Due: none
