Repository geolonia/ja-maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix github action
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
Due: none

fix github action
  .github/workflows/build-test.yml
Due: none

fix github action
  .github/workflows/build-test.yml
  README.md
Due: none

remove gitsubmodule
  .gitmodules
Due: none

update submodule
  .gitmodules
Due: none

update submodule
  .github/FUNDING.yml
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
Due: none

remove broken dependencies
  .remarkrc.js
  batfish.config.js
  package.json
Due: eslint, prettier --write

Layersの冒頭を翻訳
  docs/pages/style-spec/layers.md
Due: none

Deploying to gh-pages from @ geolonia/ja-maplibre-gl-js-docs@083bd808d912df26d84d604b67c0565544f66bb6 🚀
  api/events/index.html
  api/index.html
  api/map/index.html
  api/markers/index.html
  assets/manifest-87865795c60b64813caa.js
  assets/manifest-87865795c60b64813caa.js.map
  assets/manifest-cbecb157584a933ce028.js
  assets/manifest-cbecb157584a933ce028.js.map
  assets/maplibre-gl-js-docs-style-spec-layers-61e271e246d1242b86df.chunk.js
  assets/maplibre-gl-js-docs-style-spec-layers-61e271e246d1242b86df.chunk.js.map
  assets/maplibre-gl-js-docs-style-spec-layers-844c8977264607266354.chunk.js
  assets/maplibre-gl-js-docs-style-spec-layers-844c8977264607266354.chunk.js.map
  examples/index.html
  index.html
  overview/index.html
  style-spec/expressions/index.html
  style-spec/index.html
  style-spec/layers/index.html
Due: eslint, prettier --write

replace maplibre link to original link
  batfish.config.js
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

some fix
  batfish.config.js
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

some fix
  docs/data/api-navigation.js
  package-lock.json
  package.json
Due: eslint, prettier --write

some fix#
  .gitmodules
Due: none

overwrite by latest
  README.md
  batfish.config.js
  docs/bin/appropriate-images.js
  docs/bin/build-image-config.js
  docs/bin/create-image.js
  docs/bin/latest.js
  docs/components/page-shell.js
  docs/constants.json
  docs/data/api-navigation.js
  docs/data/style-spec-navigation.js
  docs/documentation.yml
  docs/pages/api/events.js
  docs/pages/api/index.md
  docs/pages/style-spec/expressions.md
  docs/pages/style-spec/index.md
  docs/pages/style-spec/layers.md
  docs/util/__tests__/api-ref-redirect.test.js
  docs/util/__tests__/find-page.test.js
  test/latest-version.test.js
  vendor/docs-page-shell/page-shell-styles.css
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

翻訳ソースにja-maplibre-gl-jsを指定
  package.json
Due: prettier --write

add geolonia logo and replace link
  batfish.config.js
  docs/components/page-shell.js
  docs/constants.json
  vendor/docs-page-shell/page-shell-script.js
  vendor/docs-page-shell/page-shell-styles.css
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

some fix
  README.md
Due: none

updat readme
  README.md
Due: none

translte plugin
  docs/data/plugins.json
Due: prettier --write

remove plugin test
  test/plugins.test.js
Due: eslint, prettier --write

remove test
  docs/data/__tests__/api-navigation.test.js
Due: eslint, prettier --write

fix test
  docs/util/__tests__/api-ref-redirect.test.js
Due: eslint, prettier --write

some fix
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
  docs/util/__tests__/empty.test.js
Due: eslint, prettier --write

some fix
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
Due: none

some fix
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
